html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(114, 113, 113);
    border-radius: 10px;
    height: 200px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

.category-btn:hover {
    background-color: #FC1503 !important;
    color: white !important;
}

